@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sacramento');

.wrapLose {
	position: relative;
}

.youLose {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.youLose img {
	width: 1920px;
	height: 900px;
}

.lose {
	position: absolute !important;
	top: -150px !important;
	left: 600px !important;
	z-index: 100 !important;
	font-size: 150px !important;
	font-family: 'Sacramento', cursive !important;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e !important;
}

.backLose {
	position: absolute;
	top: 700px;
	left: 1400px;
	font-size: 100px;
}