@charset "UTF-8";

body {
	background-color: #e0ffff;
}

.wrapShop {
	position: relative;
}

.backshop {
	/*	background-image: url('image/�V���b�v���.jpg');*/
	/*		position: absolute;*/
	/*		width: 100%;*/
	/*		height: 100%;*/
	top: 0px;
	left: 0px;
	/*		background-size: cover;*/
	/*		background-position: center;*/
	/*		background-repeat: no-repeat;*/
	/*		z-index: 0;*/
	position: absolute;
	z-index: -1;

}

.backshop img {
	width: 1680px;
	height: 900px;
}

.item {
	position: absolute;
	left: 300px;
	top: 250px;
	z-index: 30;
	font-size: 30px;
}

.modoru {
	position: absolute;
	left: 1300px;
	top: 750px;
	z-index: 30;
	font-size: 40px;
}

.hamcomment {
	position: absolute;
	left: 100px;
	top: 700px;
	z-index: 500;
	font-size: 50px;
}

.hukidasi {
	position: absolute;
	left: 10px;
	top: 600px;
}

.hukidasi img {
	width: 1000px;
	height: auto;
}

.hamname {
	position: absolute;
	left: 60px;
	top: 560px;
	z-index: 600;
	font-size: 50px;
}

.zengo {
	position: absolute;
	left: 1300px;
	top: 700px;
	z-index: 30;
	font-size: 40px;
}