@charset "UTF-8";

.wrap {
	position: relative;
}

.back {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.back img {
	Width: 1920px;
	height: 900px;
}

.aite {
	position: absolute;
	top: 250px;
	left: 400px;
}

.aite img {
	width: 500px;
	height: auto;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.name {
	position: absolute;
	font-family: monospace;
	border-right: 2px solid;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
	animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
	top: -150px;
	left: 900px;
	font-size: 200px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0 0 0.05em #FFF59D, 0 0 0.06em #FFF59D, 0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D, 0 0 0.09em #FFF59D, 0 0 0.20em #FFF59D, 0 0 0.20em #FFF59D, 0 0 0.20em #FFF59D, 0 0 0.50em #FFF59D;

}

